@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --theme-beige : #dfd9cd;
  --theme-olive-green : #465a50;
  --theme-yellow : #f1f320;
  --bg-dark : #1F1F1F;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Wilkysta';
  src: local('Wilkysta'), url(./fonts/wilkysta.ttf), format('truetype');
}

body{
  background-color: var(--theme-beige);
}
